


  <agm-map [latitude] = "latitude" [longitude] = "longitude" [zoom] = "zoom" >

      <agm-marker 
        *ngFor="let m of events; let i = index"
        (markerClick)="clickedMarker(m.label, i)"
        [label]="m.label"
        [markerDraggable]="m.draggable"
        (dragEnd)="markerDragEnd(m, $event)"
        [latitude]="m.venue.lat"
        [longitude]="m.venue.lng">
        
        
      <agm-info-window>
        <p><strong>{{m.venue.metroArea.displayName}}</strong></p>
        <p>{{m.displayName}}</p>
        <a class="tickets" href={{m.uri}} target="_blank"><button class="btn btn-success">reservation</button></a>
      </agm-info-window>
      </agm-marker>
  
  </agm-map>
