  <agm-map class="rhrnMap" [latitude] = "latitude" [longitude] = "longitude" [zoom] = "zoom" >

      <agm-marker 
        *ngFor="let m of events; let i = index"
        (markerClick)="clickedMarker(m.label, i)"
        [label]="m.label"
        [markerDraggable]="m.draggable"
        (dragEnd)="markerDragEnd(m, $event)"
        [latitude]="m.venue.lat"
        [longitude]="m.venue.lng">
        
        
        <agm-snazzy-info-window [closeWhenOthersOpen]="true" [showCloseButton]="false">
          <ng-template>
            <div class="mapCard">
              <p class="si-shadow-frame">{{m.venue.metroArea.displayName}}</p>
              <p class="displayArtist"> {{m.performance[0].displayName}} - {{m.venue.displayName}}</p>
              <p class="displayDate"> {{m.start.time | slice : 0 : 5}}</p>
              <a class="tickets" href={{m.uri}} target="_blank"><button class="reservBtn">reservation</button></a>
            </div>
          </ng-template>
        </agm-snazzy-info-window>
      </agm-marker>
  
  </agm-map>
