<agm-map class="rhrnMap" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [styles]="styles">
      <agm-marker *ngIf ="!bidon"
        [latitude]="latitude"
        [longitude]="longitude"
        [iconUrl]="userIcon">
        
      </agm-marker>
      <agm-marker
        *ngFor="let m of events; let i = index"
        (markerClick)="clickedMarker(m.label, i)"
        [label]="m.label"
        [markerDraggable]="m.draggable"
        (dragEnd)="markerDragEnd(m, $event)"
        [latitude]="m.venue.lat"
        [longitude]="m.venue.lng"
        [iconUrl]="icon">
      
        <agm-snazzy-info-window [closeWhenOthersOpen]="true" [showCloseButton]="false">
          <ng-template>
            <div class="mapCard">
              <p class="si-shadow-frame"> <i class="material-icons eventInfoIcons">location_city</i> {{m.venue.metroArea.displayName}}</p>
              <p class="displayArtist"> <i class="material-icons eventInfoIcons">music_note</i> {{m.performance[0].displayName}} </p>
              <p class="displayArtist"> <i class="material-icons eventInfoIcons">place</i> {{m.venue.displayName}} </p>
              <p class="displayDate" *ngIf="m.start.time"> <i class="material-icons eventInfoIcons">alarm</i> {{m.start.time | slice : 0 : 5}}</p>
              <button mat-button class="goToBuyTicketsBtn" (click)="goToConcert(i)">GO</button>
              <a class="tickets" href={{m.uri}} target="_blank" class="bioBuyTicketLink"><button mat-button class="goToBuyTicketsBtn">Booking</button></a>
            </div>
          </ng-template>
        </agm-snazzy-info-window>
      </agm-marker>
  
      <agm-direction *ngIf="bidon" [origin]="origin" [destination]="destination">
      </agm-direction>
  </agm-map>
