agm-map {
    height: 100vh;
    width: 100vw;
    display: block;
    margin: 32vw auto;
}

.mapMap {
    height: 80vh;
}

.mapCard {
    display: block;
    background-color: rgba(255, 255, 255, 0.75);
    font-weight: 500;
    min-width: 60vw;
    padding: 15px 25px;
    max-width: 325px;
    position: absolute;
    transform: translateX(-50%);
    width: calc(100% - 60px);
    top: 5px;
    border:2px solid black;
    border-radius: 10px;
    font-size: 1.5em;
    box-shadow: 4px 4px 4px;
}

.mapDisplayBtn {
    font-weight: bold;
    font-size: 1.4em;
    background-color: purple;
    color: white;
    display: block;
    margin: 2vh auto;
    /*CSS de 'titreListe' de la page list.component*/
    font-family:'dream', Helvetica, Arial, sans-serif;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(41, 41, 41, 0.568), 5px 10px 10px rgba(73, 73, 73, 0.425), 5px 5px 10px rgba(61, 61, 61, 0.5);
    border-radius: 5px;
}

.reservBtn2 {
    display: block;
    margin: auto;
    font-family:'dream', Helvetica, Arial, sans-serif;
    box-shadow: 4px 4px 4px;
    background-color: grey;
}

.mat-elevation-z10 {
    box-shadow: 5px 5px 10px rgba(41, 41, 41, 0.568), 5px 10px 10px rgba(73, 73, 73, 0.425), 5px 5px 10px rgba(61, 61, 61, 0.5);
}

.si-shadow-frame, .displayArtist, .displayDate {
    text-align: center;
}

.eventInfoIcons {
    vertical-align: sub;
    font-size: 36px;
}

@media (min-width: 768px) { 
    .mapCard {
        display: block;
        margin: auto;
        min-height: 20vh;
        min-width: 30vh;
    }

    agm-map {
        height: 80vh;
        width: 60vw;
        display: block;
        margin: auto;
    }

    .concertMap {
        margin-top: 5vh;
    }
    
    .reservBtn {
    font-family:'dream', Helvetica, Arial, sans-serif;
    box-shadow: 4px 4px 4px;
    background-color: rgb(155, 151, 151);
    margin-bottom: 1.5vh;
    }
    
    .mat-elevation-z10 {
    box-shadow: 5px 5px 10px rgba(41, 41, 41, 0.568), 5px 10px 10px rgba(73, 73, 73, 0.425), 5px 5px 10px rgba(61, 61, 61, 0.5);
    }
    
}