/* @font-face {
    font-family: 'potra';
    src:url(/src/assets/fonts/Potra.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.purpleBtn {
    height: 40px;
    background-color: purple;
    font-weight: bold;
    color: rgb(253, 253, 253);
    font-family:'potra', Helvetica, Arial, sans-serif;
    font-size: 200%;
    letter-spacing: 7px;
    vertical-align: middle;
}

.mat-elevation-z10 {
    box-shadow: 5px 5px 10px rgba(41, 41, 41, 0.568), 5px 10px 10px rgba(73, 73, 73, 0.425), 5px 5px 10px rgba(61, 61, 61, 0.5);
}

.mat-elevation-z10:hover {
    box-shadow:  1px 1px 5px rgb(250, 243, 142), -1px -1px 5px rgb(250, 243, 142), -1px 1px 5px rgb(250, 243, 142), 1px -1px 5px rgb(250, 243, 142), 1px 1px 10px rgb(252, 29, 241), -1px -1px 10px rgb(252, 29, 241), -1px 1px 10px rgb(252, 29, 241), 1px -1px 10px rgb(252, 29, 241);
}

.blackNav {
    background: rgb(78, 78, 78);
    max-width : 100%;
}

.mat-raised-button {
    line-height: 105%;
}

@media screen and (max-width: 640px) {
    .purpleBtn {
        height: 40px;
        background-color: purple;
        font-weight: bold;
        color: rgb(253, 253, 253);
        font-family:'potra', Helvetica, Arial, sans-serif;
        font-size: 190%;
        letter-spacing: 6px;
    
    }
    
    .blackNav {
        background: rgb(78, 78, 78);
        max-width : 100%;
    }
} */