@font-face {
  font-family: 'potra';
  src:url(/src/assets/fonts/Potra.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 15vw;
  height: 15vw;
  cursor: pointer;
  top: 0;
  border: 1px solid rgb(128, 0, 128);
  -webkit-border-radius: 100px;
  border-radius: 15vw;
  font: normal 20px/1.1 "Black Ops One", Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  background: -webkit-radial-gradient(closest-side, rgba(255,255,255,0.2) 0, rgba(0,0,0,0) 100%),  rgb(184, 118, 190);
  background: -moz-radial-gradient(closest-side, rgba(255,255,255,0.2) 0, rgba(0,0,0,0) 100%),  rgb(184, 118, 190);
  background: radial-gradient(closest-side, rgba(255,255,255,0.2) 0, rgba(0,0,0,0) 100%),  rgb(184, 118, 190);
  background-repeat: no-repeat;
  background-position: 0 100%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 158px 142px;
  background-size: 158px 142px;
  -webkit-box-shadow: 1px 16px 10px 5px rgba(0,0,0,0.2) , 0 14px 0 0 #000000 , 4px 8px 15px 4px rgba(0,0,0,0.4) , 5px 1px 5px 0 rgba(255,255,255,0.2) inset, 5px -4px 5px 0 rgba(255,255,255,0.2) inset, -2px 3px 6px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 1px 16px 10px 5px rgba(0,0,0,0.2) , 0 14px 0 0 #000000 , 4px 8px 15px 4px rgba(0,0,0,0.4) , 5px 1px 5px 0 rgba(255,255,255,0.2) inset, 5px -4px 5px 0 rgba(255,255,255,0.2) inset, -2px 3px 6px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 0 -1px 0 rgba(40,40,40,0.6) ;
  -webkit-transition: all 40ms cubic-bezier(0.6, -0.28, 0.735, 0.04);
  -moz-transition: all 40ms cubic-bezier(0.6, -0.28, 0.735, 0.04);
  -o-transition: all 40ms cubic-bezier(0.6, -0.28, 0.735, 0.04);
  transition: all 40ms cubic-bezier(0.6, -0.28, 0.735, 0.04);
  -webkit-transform: rotateX(35deg)  translateY(15px) translateZ(40px) ;
  transform: rotateX(35deg)  translateY(15px) translateZ(40px) ;
  display: block;
  margin: auto;
  margin-top: 30vh;
  outline:0;
}

.button:hover {
  background: -webkit-radial-gradient(closest-side, rgba(255,255,255,0.28) 0, rgba(0,0,0,0) 100%),  rgb(128, 0, 128);
  background: -moz-radial-gradient(closest-side, rgba(255,255,255,0.28) 0, rgba(0,0,0,0) 100%),  rgb(128, 0, 128);
  background: radial-gradient(closest-side, rgba(255,255,255,0.28) 0, rgba(0,0,0,0) 100%),   rgb(128, 0, 128);
  background-repeat: no-repeat;
  background-position: 0 100%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 158px 142px;
  background-size: 158px 142px;
  -webkit-box-shadow: 1px 16px 10px 5px rgba(0,0,0,0.2) , 0 14px 0 0 #000000 , 4px 8px 15px 4px rgba(0,0,0,0.4) , 5px 1px 5px 0 rgba(255,255,255,0.2) inset, 5px -4px 5px 0 rgba(255,255,255,0.2) inset, -2px 2px 6px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 1px 16px 10px 5px rgba(0,0,0,0.2) , 0 14px 0 0 #000000 , 4px 8px 15px 4px rgba(0,0,0,0.4) , 5px 1px 5px 0 rgba(255,255,255,0.2) inset, 5px -4px 5px 0 rgba(255,255,255,0.2) inset, -2px 2px 6px 0 rgba(0,0,0,0.2) inset;
  -webkit-transition: all 0 cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 0 cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0 cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0 cubic-bezier(0.42, 0, 0.58, 1);
}

.button:active {
  position: relative;
  cursor: default;
  top: 6px;
  background: -webkit-radial-gradient(closest-side, rgba(255,255,255,0.2) 0, rgba(0,0,0,0) 100%),  rgb(128, 0, 128);
  background: -moz-radial-gradient(closest-side, rgba(255,255,255,0.2) 0, rgba(0,0,0,0) 100%),  rgb(128, 0, 128);
  background: radial-gradient(closest-side, rgba(255,255,255,0.2) 0, rgba(0,0,0,0) 100%), rgb(128, 0, 128);
  background-repeat: no-repeat;
  background-position: 0 100%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 158px 142px;
  background-size: 158px 142px;
  -webkit-box-shadow: 1px 5px 8px 4px rgba(0,0,0,0.4) , 0 7px 0 0 #000000 , 1px 2px 1px 1px rgba(0,0,0,0.6) , 3px 1px 5px 0 rgba(255,255,255,0.2) inset, 3px -6px 5px 0 rgba(255,255,255,0.2) inset, -1px 1px 4px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 1px 5px 8px 4px rgba(0,0,0,0.4) , 0 7px 0 0 #000000 , 1px 2px 1px 1px rgba(0,0,0,0.6) , 3px 1px 5px 0 rgba(255,255,255,0.2) inset, 3px -6px 5px 0 rgba(255,255,255,0.2) inset, -1px 1px 4px 0 rgba(0,0,0,0.2) inset;
  -webkit-transition: all 40ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 40ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 40ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 40ms cubic-bezier(0.42, 0, 0.58, 1);
}

.RHRNparagraph {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  font-family:'potra', Helvetica, Arial, sans-serif;
  color: black;
}