<!--<div class="container-fluid">

  <div class="row d-flex justify-content-around align-items-center enteteListe">
      <button class="btn btn-secondary btn-lg mat-elevation-z10 reservBtn" (click)="sendInputMap(events[0].performance[0].artist.id)" routerLink="/map/:value">Show concerts on map</button>
      <h2 class="titreListe">Concert List</h2>
  </div>

  <section class="row justify-content-around main">

    <div class="card col-md-5  bio">
      <img *ngIf="artist.image" class="card-img-top photoArtist mt-4" [src]="artist.image[3]['#text']" alt="Photo de l'artiste">
      <div class="card-body">
        <h5 class="card-title nomArtist">{{artist.name}}</h5>
        <p *ngIf="artist.bio && artistBioSummary" class="card-text">{{artistBioSummary}}</p>
        <div class="row d-flex justify-content-end">
          <a [href]="artist.bio.links.link.href" target="_blank" class="btn btn-light mat-elevation-z10 morebtn">More about this Artist</a>
        </div>
      </div>
    </div>

    <div class="concertList row col-md-6">
      <ul class="list-group list-group-flush listeConcerts" *ngFor="let event of events">
        <div class="card text-center concert">
          <h3 class="card-header">{{event.location.city | titlecase}}</h3>
          <div class="card-body align-items-center">
            <h4 class="card-text">{{event.venue.displayName}}</h4>
            <p>{{event.start.date | date : 'dd-MM-yyyy'}} {{event.start.time | slice : 0 :5}}</p>
          </div>
          <div class="row justify-content-center">
            <a class="btn btn-light mat-elevation-z10 tickets"href={{event.uri}} target="_blank">Buy Tickets</a>
          </div>
        </div>
      </ul>

    </div>

  </section>

</div>-->
<div class="listPageContainer">

  <!--Page Title and button to display concert on map-->
  <div class="pageTitleMapBtnContainer">
    <div class="pageTitleContainer">
      <h2 class="pageTitle">Concert list</h2>
    </div>
    <div class="mapDisplayBtnContainer">
      <button mat-button class="mapDisplayBtn">Show concerts on map</button>
    </div>
  </div>

  <div class="bioConcertListContainer">
    <!--Artist Biography-->
    <div class="bioContainer">
      <mat-card-title class="artistCardTitle">{{artist.name}}</mat-card-title>
      <mat-card class="artistResultCard">
          <img mat-card-image *ngIf="artist.image" class="artistImage" [src]="artist.image[3]['#text']" alt="Photo de l'artiste">
          <!--Biography in an expansion panel-->
          <mat-accordion>
            <mat-expansion-panel> 
                <mat-expansion-panel-header>
                  <mat-panel-title class="bioPanelTitle">
                    Artist Biography
                  </mat-panel-title>
                </mat-expansion-panel-header>
              <mat-card-content>
                <p *ngIf="artist.bio && artistBioSummary" class="artistBioText">{{artistBioSummary}}</p>
              </mat-card-content>
            </mat-expansion-panel>
          </mat-accordion>
      </mat-card>
    </div>

    <!--Concert List-->
    <div class="listContainer">
      <mat-list role="list" *ngFor="let event of events">
        <mat-card-title class="cardTitle">{{event.location.city | titlecase}}</mat-card-title>
        <mat-card class="resultCard">
            <mat-card-content class="eventCardContent">
              <i class="material-icons eventInfoIcons">place</i>
              {{event.venue.displayName}}
            </mat-card-content>
            <mat-card-content class="eventCardContent">
              <i class="material-icons eventInfoIcons">alarm</i>
              {{event.start.date | date : 'dd-MM-yyyy'}} {{event.start.time | slice : 0 :5}}
            </mat-card-content>
            <mat-card-actions class="cardBtnContainer">
                <button mat-button class="goToBuyTicketsBtn"><a href={{event.uri}} target="_blank">Buy Tickets</a></button>
            </mat-card-actions>
        </mat-card>
      </mat-list>
    </div>
  </div>

</div>
