@font-face {
    font-family: 'dream';
    src:url(/src/assets/fonts/Dream.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    }

.container{
  width: 100%;
}
/* 
section{
  padding-top: 68px;
} */

.enteteListe{
  margin-top: 10vh;
  width: 100%;
  position: sticky;
  top: 10vh;
  z-index: 10;
}

.main{
  max-height: 80vh;
  overflow: auto;
  position: sticky;
  top: 20vh;
}

.bio{
  max-height: 80vh;
  overflow: auto;
  position: sticky;
  top: 5vh;
}


.photoArtist{
  width: 40%;
  height: auto;
  align-self: center;
}

.nomArtist{
  /* margin-top: 3vmin; */
  text-align: center;
  font-weight: bold;
}



.concert{
  border-color: white;
  border-style: solid;
  border-width: 3px;
}

.titreListe {
    align-self: center;
    font-family:'dream', Helvetica, Arial, sans-serif;
    font-size: 1.8em;
    padding: 0.4em;
    letter-spacing: 5px;
    background-color: rgba(249, 231, 252);
    border-width: 0.08em;
    border-radius: 5px;
    border-color: rgb(78, 78, 78);
    }

.listeConcerts {
    font-family:'dream', Helvetica, Arial, sans-serif;
    list-style-type: none;
    font-size: 170%;
    margin: 0;
    width: 100%;
    border-width: 0.08em;
    border-radius: 5px;
    align-self: center;
}

.tickets {
  margin-bottom: 1vh;
  font-family:'dream', Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  width: 50%;
}

.reservBtn {
    font-family:'dream', Helvetica, Arial, sans-serif;
    box-shadow: 4px 4px 4px;
    background-color: grey;
    margin-bottom: 1.5vh;
}

.mat-elevation-z10 {
    box-shadow: 5px 5px 10px rgba(41, 41, 41, 0.568), 5px 10px 10px rgba(73, 73, 73, 0.425), 5px 5px 10px rgba(61, 61, 61, 0.5);
}

.mat-elevation-z10:hover {
    box-shadow:  1px 1px 5px rgb(250, 243, 142), -1px -1px 5px rgb(250, 243, 142), -1px 1px 5px rgb(250, 243, 142), 1px -1px 5px rgb(250, 243, 142), 1px 1px 10px rgb(252, 29, 241), -1px -1px 10px rgb(252, 29, 241), -1px 1px 10px rgb(252, 29, 241), 1px -1px 10px rgb(252, 29, 241);
}

@media screen and (max-width: 768px) {
  .bio{
    min-width: 77.5%;
    margin: 0 auto;
  }

  .enteteListe{
    min-width: 77.5%;
    padding-top: 2vh;
    margin: 0 auto;
  }

  .listeConcerts{
    min-width: 77.5%;
    margin: 0 auto;
  }
}
