.div{
    display: flex;
    flex-direction: column;
}
.titreListe{
    align-self: center;
}

.listeConcerts {
    list-style-type: none;
    padding: 0;
    width: 50vw;
    border-width: 0.2em;
    border-style: solid;
    border-color: darkmagenta; 
    align-self: center;

  }
.listeConcerts li {
    background-color: #EEE;
    padding: .3em 0;
    text-align: center;
  }