<div class="div">
  <h2 class="titreListe" *ngIf="villes.length > 0">Upcoming concerts in {{ville}}</h2>
  <ul class="listeConcerts" *ngFor="let event of villes, let i=index">
      <li>{{event.displayName}}</li>
      <li>at {{ event.venue.displayName | titlecase}}</li>
      <li>at {{event.location.city}} city</li>
      <li >{{event.start.date | date : 'dd-MM-yyyy'}}</li>
      <li>{{event.start.time | slice : 0 :5}}</li>
      <li><a class="tickets" href={{event.uri}} target="_blank"><button>BUY TICKETS</button></a></li>
  </ul>
</div>
<div *ngIf="villes.length == 0 && displayNoEvent" class="div">
    <h2 class="titreListe">There's no Upcoming concerts in {{ville}}</h2>
    <div class="listeConcerts pt-2 pb-2">
      <p>Do you want to search events in {{ville}} area ?</p>
      <button class="tickets" (click)="sendInputList()"  routerLink="/placelist/:value/:name">YES!!!!</button>
    </div>  
</div>
