<mat-toolbar class="blackNav fixed-top">
    <mat-toolbar-row>
        <a mat-raised-button class="JAMbutton mat-elevation-z10 mat-button-wrapper" routerLink="/home">JAM</a>
        <!-- <button (click)="sendInputResult(searchInput.value)" routerLink="/result/:value">Search your artist</button> -->
        <!-- <button (click)="sendInputList(searchInput.value)" routerLink="/list/:value">Search by list</button>
        <button (click)="sendInputMap(searchInput.value)" routerLink="/map/:value">Search by map</button> -->
        <div class="searchblock container d-flex" >
        <div class="searchbar"><input  #searchInput type="text"></div> 
        <div class="bouton"><a class="mat-elevation-z10" mat-raised-button color="primary" (click)="sendInputResult(searchInput.value)" routerLink="/result/:value">Search your artist</a></div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
      