@font-face {
    font-family: 'dream';
    src:url(/src/assets/fonts/Dream.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'potra';
    src:url(/src/assets/fonts/Potra.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.JAMbutton{
    height: 70% !important;
    background-color: purple;
    font-weight: bold;
    color: rgb(253, 253, 253);
    font-family:'potra', Helvetica, Arial, sans-serif !important;
    font-size: 200% !important;
    letter-spacing: 7px;
    vertical-align: middle;
    border-radius: 10px;
}

.blackNav {
    background: rgb(78, 78, 78);
    max-width : 100%;
    z-index: 1;
}

.searchblock{
    flex-direction: row;
    justify-content: center;
    align-content: center;
    /* padding: 10vh; */

}
.searchbar{
    /* display: flex; */
    align-self: center;
    justify-content: center;
    padding: 1vh;
}

.searchOptionMenu{
    z-index: 10;
}

.bouton {
    display: flex;
    justify-content: center;
    padding: 1vh;
}

.mat-raised-button.mat-primary {
    background-color:darkmagenta;
}

.mat-raised-button {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: 'dream';
    font-weight: bold;
    font-size: 120%;
    border-radius: 5px;
}

.mat-elevation-z10 {
    box-shadow: 5px 5px 10px rgba(41, 41, 41, 0.568), 5px 10px 10px rgba(73, 73, 73, 0.425), 5px 5px 10px rgba(61, 61, 61, 0.5);
}

.mat-elevation-z10:hover {
    box-shadow:  1px 1px 5px rgb(250, 243, 142), -1px -1px 5px rgb(250, 243, 142), -1px 1px 5px rgb(250, 243, 142), 1px -1px 5px rgb(250, 243, 142), 1px 1px 10px rgb(252, 29, 241), -1px -1px 10px rgb(252, 29, 241), -1px 1px 10px rgb(252, 29, 241), 1px -1px 10px rgb(252, 29, 241);
}

.inputSearch {
    border: 1px solid black;
    border-radius: 10px;
    outline: 0;
}

mat-radio-button {
    margin-left: 0.2vw;
}

mat-radio-button ~ .mat-radio-button {
  margin-top: 8px;
}

.iconInput{
    position: relative;
    margin-left: -70px;
    margin-top: 7px;
    width: 0px;
    height: 0px;
    outline:0;
}

.searchOptions {
    background-color: purple;
    font-weight: bold;
    color: rgb(253, 253, 253);
    vertical-align: middle;
    margin-top: 6px;
    border-radius: 10px;
    outline: 0;
    font-size: 0.8em;
}

@media screen and (max-width: 640px) {
    .searchblock{
        flex-direction: column;
        margin-top: 8vh;
    }

    .blackNav {
        background: rgb(78, 78, 78);
        max-width : 100%;
        height : 18vh;
    }

    .mat-raised-button {
        height: 10%;
        font-size: 150%;
        border-radius: 15px;
    }

    .searchbar{
        display: flex;
        align-self: center;
        justify-content: center;
        margin-top: 6%;
        border-radius: 15px;
        margin-right: 27vw;
    }

    .JAMbutton{
        height: 150% !important;
        background-color: purple;
        top: 70%;
        font-weight: bold;
        color: rgb(253, 253, 253);
        font-family:'potra', Helvetica, Arial, sans-serif !important;
        font-size: 180% !important;
        letter-spacing: -2px;
        margin-right: 15px;
    }
    
    
    .mat-elevation-z10 {
        margin-top: -5%;
        width: 200%;
        box-shadow: 5px 5px 10px rgba(41, 41, 41, 0.568), 5px 10px 10px rgba(73, 73, 73, 0.425), 5px 5px 10px rgba(61, 61, 61, 0.5);
        right: 0.5vh;
    }

    .bouton {
        display: flex;
        justify-content: center;
        padding: 1vh;
        margin-right: 200px;
        width: 220px;
        
    }


    .mat-raised-button {
        display: flex;
        justify-content: center;
        height: 100%;
        font-family: 'dream';
        font-weight: bold;
        text-align: center;
        font-size: 105%;
        border-radius: 5px;
    }

    input {
        max-width: 25vh;
    }

}