/* --- MOBILE/CSS PAR DEFAUT --- MOBILE/CSS PAR DEFAUT --- MOBILE/CSS PAR DEFAUT --- MOBILE/CSS PAR DEFAUT*/
@font-face {
    font-family: 'dream';
    src:url(/src/assets/fonts/Dream.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'potra';
    src:url(/src/assets/fonts/Potra.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.mainNav {
    background-color: #66245A;
    z-index: 20;
}

.JAMbtn {
    font-family:'potra', Helvetica, Arial, sans-serif;
    font-weight: bolder;
    font-size: 1.6em;
    background-color: white;
    color: #66245A;
    outline: 0;
    height: 5vh;
    box-shadow: 2px 2px 2px black;
    border: 1px solid black;
}

.searchIconBtn {
    outline: 0;
}

.inputFormField {
    width: 35vw;
    margin-left: 8vw;
    color: white;
}
  
.inputSearchBtnContainer {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: auto;
}

.searchInputField {
    color: white;
}

::placeholder {
    color: white;
}

.searchIconBtn{
    outline: 0;
    color: white;
}

.searchIcon{
    font-size: 36px;    
}

.filterBtnContainerDesktop {
    display: none;
}

.filterIcon {
    font-size: 36px;
}

.filterBtnContainerMobile {
    color: white;
}

/* --- DESKTOP --- DESKTOP --- DESKTOP --- DESKTOP*/
  @media (min-width: 768px) {
    .JAMbtn {
        font-size: 2em;
        height: 6vh;
    }

    .inputFormField {
        width: 20vw;
    }

    .inputSearchBtnContainer {
        text-align: center;
    }

    .SearchOptionMenuBtn {
        font-size: 18px;
        margin-left: 1vw;
        background-color: white;
        color: #66245A;
        box-shadow: 2px 2px 2px black;
        border: 1px solid black;
    }

    .optionsMenuBtn{
        font-size: 12em;
    }

    .filterBtnContainerMobile {
        display: none;
    }

    .filterBtnContainerDesktop {
        display: inline;
    }
  }