/* --- MOBILE/CSS PAR DEFAUT --- MOBILE/CSS PAR DEFAUT --- MOBILE/CSS PAR DEFAUT --- MOBILE/CSS PAR DEFAUT*/
.pageTitleCard {
    width: 80vw;
    text-align: center;
    margin: 2vh auto;
}

.cardTitle {
    text-align: center;
    font-weight: bold;
    background-color: blue;
    width: 90vw;
    margin: auto;
}

.resultCard {
    width: 90vw;
    margin: auto;
    margin-bottom: 2vh;
}

.onTourText {
    text-align: center;
    font-size: 1.4em;
}

.cardBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mapListDisplayBtn {
    font-weight: bold;
}

/* --- DESKTOP --- DESKTOP --- DESKTOP --- DESKTOP*/
@media (min-width: 768px) {
    .pageTitleCard {
        width: 40vw;
        text-align: center;
        margin: 2vh auto;
    }

    .cardTitle {
        width: 35vw;
    }

    .resultCard {
        width: 35vw;
    }

}